################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/capstonenotespool/notespool/migrations/__pycache__/0012_auto_20170816_1930.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0011_auto_20170816_1910.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0010_auto_20170816_1901.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0009_auto_20170816_1859.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0008_auto_20170816_1859.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0007_auto_20170816_1858.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0006_auto_20170816_1854.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0005_auto_20170816_1854.cpython-36.pyc
/capstonenotespool/notespool/migrations/__pycache__/0004_auto_20170816_1852.cpython-36.pyc
/capstonenotespool/notespool/migrations/0012_auto_20170816_1930.py
/capstonenotespool/notespool/migrations/0011_auto_20170816_1910.py
/capstonenotespool/notespool/migrations/0010_auto_20170816_1901.py
/capstonenotespool/notespool/migrations/0009_auto_20170816_1859.py
/capstonenotespool/notespool/migrations/0008_auto_20170816_1859.py
/capstonenotespool/notespool/migrations/0007_auto_20170816_1858.py
/capstonenotespool/notespool/migrations/0006_auto_20170816_1854.py
/capstonenotespool/notespool/migrations/0005_auto_20170816_1854.py
/capstonenotespool/notespool/migrations/0004_auto_20170816_1852.py
