{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}"  type="text/css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">
	<script src="https://use.fontawesome.com/32d74153b0.js"></script>

	
</head>
<body>
		<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Capstone Notespool</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						{% if userp is not none %}
							
							<li class="dropdown"><a class="dropdown-toggle" color="#FFF" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Log out</a></li>
								<li><a href="/notespool">My Units</a></li>
								<li><a href="/calendar">Assessment Calendar</a></li>
							</ul>
							<li><a href="/aboutus">About us</a></li>
							<li><a href="/contact">Contact</a></li>
						{% else %}
							<li class="dropdown"><a class="dropdown-toggle" color="#FFF" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/login">Login</a></li>
								<li><a href="/password_change_form">Forgot Password</a></li>
								<li><a href="/registeraccount">Register</a></li>
							</ul>
							<li><a href="/aboutus">About us</a></li>
							<li><a href="/contact">Contact</a></li>
						{% endif %}
						{% if userp == "admin" %}
						<li class="dropdown"><a class="dropdown-toggle" color="#FFF" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/create_account/">Create Users</a></li>
								<li><a href="/administrator/">View Users</a></li>
								<li><a href="/view_unit/">View Units</a></li>
								<li><a href="/view_subpages/">View Subpages</a></li>
								<li><a href="/list/">View Documents</a></li>
						{% endif %}
							</ul>
					</ul>
					<form class="navbar-search" method='GET' action=''>
						<input class="search-box" type='text' name='q' placeholder='Search Units' value='{{ request.GET.q }}' />
						<button class="btn btn-success" type='submit'><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div><!--/.nav-collapse -->
		</nav>

    {% if message is not none %}
    <script>
        alert('{{ message }}');
    </script>
    {% endif %}

    <div class="container">
		<div class="content-wrapper">
			
			<div class="breadcrumb">
				<a href="/">Home</a>
			</div>
			
			
			{% block content %}
			{% endblock %}
		</div>	

		<footer>
			<ul>
				<h4>Navigation</h4>
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/contactus">Contact Us</a></li>
				<li>Search for Units</li>

			  </ul>
			  <ul>
				<h4>Account</h4>
				<li>My Quizzes</li>
				<li>My Units</li>

			  </ul>
			  <ul>
				<h4> Contact</h4>
				<li>Email: <a href="mailto:social@notespool.com">social@notespool.com</a></li>
				<li>Phone: <a href="tel:0400000000">0400 000 000</a></li>
				<li>Twitter: @socialnotespoolqut</li>
				<li>Facebook: /socialnotespoolqut</li>
				<li>Instagram: @socialnotespoolqut</li>
			  </ul>
			  
		</footer>		
    </div>
    	
		
		
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>