/*********************
     COLOUR GUIDE     
**********************

Primary Colour: 		rgba(22, 94, 156);
Primary Colour (fade): 	rgb(26, 116, 198);
Secondary Colour: 		rgb(255, 134, 13);



***********************/


/****Navbar****/

.navbar-default {
    background-color: rgba(22, 94, 156, 1);
    position: relative;
    display: inline-block;
	color: #FFFFFF;
	border-radius: 0px;
	border: 0px;
	width: 100%;
	margin-bottom: 0px;
	float: left;

}
.navbar-default .navbar-nav > li > a {
		color: #FFFFFF;
		font-weight: 600;
		
}

.navbar-default .navbar-nav > li > a:hover {
		background-color: rgba(26, 116, 198, 1);
		color: #FFFFFF;
		
}

.navbar-default .navbar-nav .active>a {
  background-color: rgb(255, 134, 13);
  color: #FFFFFF;
}

.navbar-default .navbar-nav .active>a:hover {
  background-color: rgba(26, 116, 198, 1);
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
        color: #FFF;
}

.navbar-default .navbar-brand:hover {
        color: #FFF;
}




/*****Login Page*****/

#login {
  width: 400px;
  height: 450px;
}
.lower-content {
 display: inline-block;
 background-color: #f9f9f9;
 float: left;
 margin: 5px;
 padding: 10px;
}

#register {
  width: 400px;
  height: 450px;
}

footer ul {
  list-style: none;
  display: block;
  float: left;
  margin-right: 25px;

}


footer {
  background-color: rgba(22, 94, 156, 1);
  color: #fff;
  height: 180px;
  max-width: 100%;
}

.social-login a:focus, a:hover {
 text-decoration: none;
}



.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    line-height: 1;
    margin: 0 auto;
    max-width: 80%;
}

body {
  background-color: #eeeeee!important;
}

.container {
  width: 75%;
}

.content-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  margin-top: -5px;
  height: 720px;
}

