{% extends 'layout/layout.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div>
<h2 style="text-align:center;">About Us</h2>
<p style="text-align:center;">Notespool is an online learning support initiative, that helps students and universities enhance their education.</p>
<br>

<h3 style="text-align:center;">Our Product</h3>
<p style="text-align:center;">NotesPool is an interactive website, which allows students to follow units their studying, share study notes, create and participate in online practice quizzes, share documents and track assessment.</p>
<br>

<h3 style="text-align:center;">Our Values</h3>
<p style="text-align:center;">We value enhancing all student’s learning experiences, whether you are struggling to keep up or striving to excel. Studies have shown that supplemental online learning tools are effective for people at all levels.</p>
<br>

<h3 style="text-align:center;">Our Team</h3>
<p style="text-align:center;">Our team consists of four university students; Luke Ryan, Matt Burns, Jacob Keogh & Carl Mayanja. We believe studying should be more focused on collaboration and innovation and students should be provided with access to more online learning tools such as Notespool.</p>
<br>
<p style="text-align:center;">Our goal is to help students around the world learn from each other as much as they learn from their degree.</p>

</div>

{% endblock %}


