{% extends 'layout/layout.html' %}
{% block title %}Contact{% endblock %}
{% block content %}

<h2>Contact Us</h2>

<div style="text-align: left;">
<h3>Staff Members / Administrators</h3>

<p>If you are a staff member, please ensure you have registered using your staff email address then proceed to contact us at <a href="mailto:support@notespool.com">social@notespool.com</a>

<h3>Students</h3>

<p>If you have an enquiry regarding the website, please ensure you have registered using your student email address and contact us at <a href="mailto:support@notespool.com">social@notespool.com</a>.

If you have an issue regarding a particular Unit or its content questions are better directed towards the appropriate staff member.

See below if you wish to report misconduct.

<h3>Reporting a problem</h3>

<p>If you have a bug to report please contact us at <a href="mailto:support@notespool.com">support@notespool.com</a>. Since we constantly seek to improve our service, we would be delighted to offer you 6 months of ad-free use of the website if the bug is verified by our team. (Please include a screenshot where possible)

If you need to report Misconduct, this should be done so immediately to either the Unit admin or University Staff.

If you have a different issue to report please email us at <a href="mailto:support@notespool.com">support@notespool.com</a>.

<h3>Universities</h3>

<p>If you represent a University seeking to implement the NotesPool as a learning tool in your curriculum, don’t hesitate to email us at <a href="mailto:opportunities@notespool.com">opportunities@notespool.com</a> or call us at <a href="tel: 0400000000">0400 000 000</a>.

<h3>General Enquiries </h3>

<div>Email: <a href="mailto:support@notespool.com">social@notespool.com</a><br>
Phone: <a href="tel: 0400000000">0400 000 000</a><br>
Twitter: <a href="twitter.com">@socialnotespoolqut</a><br>
Facebook: <a href="facebook.com">/socialnotespoolqut</a><br>
Instagram: <a href="instagram.com">@socialnotespoolqut</a></div>

</div>
{% endblock %}