{% extends 'layout/layout.html' %}
{% block title %}Create Quiz{% endblock %}
{% block content %}
<br />

<h1>New Quiz for {{unit.unit_name}}</h1>

<form class="quiz-creation" action="\create_quiz/{{unit.slug}}/{{subpagename}}/" method="post">
    {% csrf_token %}
    <style>
        table {
            border-collapse: collapse;
			width: 100%;
			text-align: center;
        }

        th, td {
			
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2
        }

        th {
            background-color: #53A86C;
            color: white;
        }
		
		
		td input {
			width: 75%;
			margin: 10px;
			font-size: 18px;
		}
    </style>
    <table>
        <tr>
            <th style="font-size: 18px;">Quiz Name</th>
        </tr>
        <tr>
            <td style="width:100%;">
                {{ form.quiz_namez.errors }}
                {{ form.quiz_name }}
            </td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Create Quiz"/>
</form>
<br />

{% endblock %}
