{% extends 'layout/layout.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
  
<form action="/createaccount/" method="post">
    {% csrf_token %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 75%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2
        }

        th {
            background-color: #53A86C;
            color: white;
        }
    </style>
    <table style="width:600px">
        <tr>
            <th style="width:30px"> Username </th>
            <th style="width:30px"> Password </th>
            <th style="width:30px"> First name </th>
            <th style="width:30px"> Last Name </th>
            <th style="width:30px"> Email </th>
        </tr>
        <tr>
            <td>
                {{ form.username }}

            </td>
            <td>
                {{ form.password }}

            </td>
            <td>
                {{ form.first_name }}

            </td>
            <td>
                {{ form.last_name }}

            </td>
            <td>
                {{ form.email.errors }}
                {{ form.email }}

            </td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Create User" />
</form>

{% endblock %}
