{% extends 'layout/layout.html' %}
{% block title %}Create Subpage{% endblock %}
{% block content %}
<br />

<form action="\create_subpage/{{sent_unit.slug}}" method="post">
    {% csrf_token %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 75%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2
        }

        th {
            background-color: #53A86C;
            color: white;
        }
    </style>
    <table style="width:30px">
        <tr>
            <th style="width:30px"> Subpage Name </th>
        </tr>
        <tr>
            <td>
                {{ form.subpage_name.errors }}
                {{ form.subpage_name }}

            </td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Create Subpage" />
</form>



















{% endblock %}
