{% extends 'layout/layout.html' %}
{% block title %}Edit Quiz{% endblock %}
{% block content %}
<br />

<h1>Quiz - {{exam.name}}</h1>

<!--- <form action="\unit_subpage/{{unit.slug}}/{{subpagename}}/" method="post">
	<input class="btn btn-info" type="submit" value="Back" style="width:100px;" />
</form> -->
<br>
{% for i in answers %}
        {% if i.related_quiz == exam.exam_id %}
		
		<div class="quiz-edit-question">
            <p><b> Question: </b>   {{i.question.question_text}}</p>
            <p><b> Answer: </b>   {{i.text}}</p>
            <a href="\edit_question/{{i.id}}/{{exam.exam_id}}/{{exam.slug}}" class="btn btn-info" > Edit/Delete Question </a>
		
		</div>
        {% endif %}
{% endfor %}


<form class="quiz-creation-answer" action="\edit_quiz/{{unit.slug}}/{{subpagename}}/{{exam.slug}}" method="post">
    {% csrf_token %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2
        }

        th {
            background-color: #53A86C;
            color: white;
        }
		
		td input {
		
		width: 600px;
		}
		
		
		
		
    </style>
        <table>
            <tr>
                <th> Add a Question </th>
            </tr>
            <tr>
                <td>
                    {{form.question_text.errors}}
                    <p><label>Question</label> {{ form.question_text }}</p>
                    {{form.answer_text.errors}}
                    <p><label>Answer</label> {{form.answer_text}}</p>
                </td>
            </tr>
        </table>
    <input class="btn btn-success" style="width:100px;"type="submit" value="Submit" />
</form>
<br />

{% endblock %}
