{% extends 'layout/layout.html' %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}



<h2>Frequently Asked Questions</h2>


<div style="text-align: left;">

<h3>I can’t sign up using my email address?</h3>
	
<p>Ensure you are using your student email address. If this still doesn’t work your university may not yet be supported. Please send us an email at opportunities@notespool.com to request access for your university.</p>

<h3>I’ve made an account but I can’t find any of my units / I can find my units but I can’t join them?</h3>

<p>Your university's representative may have yet to create your class’ unit / You may not have the correct permissions to join this Unit. Contact the relevant staff member at your university. </p>

<h3>How do I upload documents to my unit page?</h3>

<p>Navigate to Home > [Unit Name]. Then select ‘Add Notes’ in the appropriate section.</p>

<h3>How can I report someone in my unit?</h3>

<p>The Unit Admin or University Staff should be contacted in the case of misconduct. Please Navigate to Contact Us for more information.</p>


<h3>How do I amend incorrect notes?</h3>

<p>You can edit content directly or contact the Unit Admin or University Staff if they are disruptive or intentional.</p>


</div>
{% endblock %}