{% extends 'layout/layout.html' %}
{% block title %}Documents{% endblock %}
{% block content %}
<html>

<head>

    <meta charset="utf-8">

    <title>Minimal Django File Upload Example</title>

</head>

<form method="GET" action=''>
    <input type="text" name="q" placeholder="Search Documents" value="{{ request.GET.q}}" />
    <input type="submit" value="Search" />
</form>

<body>
    <!-- List of uploaded documents -->
    {% if documents %}
    <ul>
        {% for document in documents %}

        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        <tr>
            <td> <a href="\delete_document/{{ document.pk }}/"> Delete Document </a> </td>
        </tr>
        {% endfor %}

    </ul>
    {% else %}
    <p>No documents.</p>
    {% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}

        </p>
        <p><input type="submit" value="Upload" /></p>

    </form>

    <div class="fb-share-button" data-href="https://notespool" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnotespool%2F&amp;src=sdkpreparse">Share</a></div>
    <IFRAME SRC="http://ad-region.doubleclick.net/adi/Nxxxx.site-keyname/Byyyyyyy;sz=widthxheight;kw=[keyword];click=;ord=[timestamp]?" WIDTH=X HEIGHT=Y MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR='#000000'>
        <SCRIPT language='JavaScript1.1' SRC="http://ad-region.doubleclick.net/adj/Nxxxx.site-keyname/Byyyyyyy;abr=!ie;sz=widthxheight;kw=[keyword];click=;ord=[timestamp]?">
        </SCRIPT>
        <NOSCRIPT>
            <A HREF="http://ad-region.doubleclick.net/jump/Nxxxx.site-keyname/Byyyyyyy.n;sz=WidthxHeight;kw=[keyword];ord=[timestamp]?">
                <IMG SRC="http://ad-region.doubleclick.net/ad/Nxxxx.site-keyname/Byyyyyyy.n;kw=[keyword];ord=[timestamp]?" BORDER=0 WIDTH=X HEIGHT=Y ALT="Click Here">
            </A>
        </NOSCRIPT>
    </IFRAME>
</body>
{% endblock %}
</html>  