{% extends 'layout/layout.html' %}
{% block title %}Login{% endblock %}
{% load i18n %}
{% block content %}

	<div class="content-wrapper">
		
		<form class="lower-content" id="login" action="{% url 'login' %}" method="post">
			{% csrf_token %}
			{{form.non_field_errors}}
			
			<h4>Existing User</h4>
			<br>
			<div class="fieldWrapper">
				{{form.username.errors}}
				<label for="form.username.id_for_label">User Name: </label><br>
				{{form.username}}
			</div>
			<div class="fieldWrapper">
				{{form.password.errors}}
				{{help_text|safe}}
				<label for="form.password.id_for_label">Password: </label><br>
				{{form.password}}
			</div>
			<a href="{% url 'passwordreset' %}">Forgotten password</a>
			<br />
			
			<br>
			{{ form.captcha }}
			<button class='js-captcha-refresh'><i class="fa fa-refresh" aria-hidden="true"></i></button><br><br>
			<input class="btn btn-primary" type="submit" value="Login" /><br><br>
			<p style="font-weight: 600;">or</p>
			<br>
			<a class="social-login" href="{% url 'social:begin' 'facebook' %}">
				<img src="/static/images/facebook.png" />
			</a>
			
		</form>
		
		
		<div class="lower-content" id="register">
			<h4>New User</h4>
			<br>
		  <p>Don't have an account? Register today! <br> It's free and allows you to store your notes online and view those that others have uploaded!</p>
		  <br>
		  <br>
		  <form action="/registeraccount">
		    <input class="btn btn-primary" type="submit" value="Register" />
		  </form>
		</div>
		
	</div>	
{% endblock %}
