{% extends 'layout/layout.html' %}
{% block title %}Notespool{% endblock %}
{% block content %}
<br />
<form action="/create_unit" method="get">
    <input class="btn btn-success btn-lg" type="submit" value="Create Unit" />
</form>

{% for i in units %}
    {% if i.approval == True %}
        <h2><a href="\unit_page/{{ i.slug }}/"> {{i.unit_code}} - {{i.unit_name}} </a></h2>
    {% if sentUser.id != subscriptions.student and i.unit_id != subscriptions.unit_id %}
        <a href="\subscribe/{{i.unit_id}}/" class="btn btn-default" role="button">Subscribe</a>
    {% endif %}
    {% endif %}
{% endfor %}


{% for i in unitsh %}
    {% if i.approval == True %}
<h2><a href="\unit_page/{{ i.slug }}/"> {{i.unit_code}} - {{i.unit_name}} </a></h2>
    {% endif %}
    {% if sentUser.id != subscriptions.student and i.unit_id != subscriptions.unit_id %}
        <a href="\subscribe/{{i.unit_id}}/" class="btn btn-default" role="button">Subscribe</a>
    {% endif %}
{% endfor %}

{% endblock %}
