{% extends 'layout/layout.html' %}
{% block title %}Privacy Policy{% endblock %}
{% load i18n %}
{% block content %}


<div style="text-align: left;">
<h2>Privacy Policy</h2>
<br><br>
QUT Notes Team is committed to providing quality services to you and this policy outlines our obligations to you in respect of how we manage your Personal Information.<br><br>

We have adopted the National Privacy Principles (NPPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information.<br><br>

A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Federal Privacy Commissioner at <a href="www.privacy.gov.au">www.privacy.gov.au</a>.<br><br>


<h3>What is Personal Information?</h3>
Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect include: names, email addresses, student information and any information you might upload via the QUT Notespool<br><br>

This Personal Information is obtained in many ways including via the QUT Notespool and any correspondence you may have with the development team. <br><br>

We collect your Personal Information for the primary purpose of providing the QUT Notespool to you. We may also use your Personal Information to verify your status as a QUT student.<br>
When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it.<br><br>

<h3>Sensitive Information</h3>
Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual's racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.<br><br>

Sensitive information will not be used the [our business name] with the exception of where you provide your express consent or where required by law.<br><br>


<h3>Third Parties</h3>
Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party.<br><br>

<h3>Disclosure of Personal Information</h3>
Your Personal Information may be disclosed in a number of circumstances including the following:<br>
a) Third parties where you consent to the use or disclosure; and<br>
b) Where required or authorised by law.<br><br>


<h3>Security of Personal Information</h3>
Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.<br><br>

When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 4 years.<br><br>


<h3>Access to your Personal Information</h3>
You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us via email.<br>
In order to protect your Personal Information we may require identification from you before releasing the requested information.<br><br>

<h3>Maintaining the Quality of your Personal Information</h3>
It is important to us that your Personal Information is up to date. We will take reasonable steps to make sure that your Personal Information is accurate, complete and up-to-date. If you find that the information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can update our records and ensure we can continue to provide quality services to you.<br><br>


<h3>Policy Updates</h3>
This Policy may change from time to time and is available on our website.<br><br>


<h3>Privacy Policy Complaints and Enquiries</h3>
If you have any queries or complaints about our Privacy Policy please contact us at:<br><br>
 
<a href="mailto:socialnotespool@gmail.com">socialnotespool@gmail.com</a><br>
<a href="tel:0468 968 205">0468 968 205</a><br>

</div>
{% endblock %}