{% extends 'layout/layout.html' %}
{% block title %}Register Account{% endblock %}
{% load i18n %}
{% block content %}

<div class="field-wrapper" id="register-form">
    <form class="lower-content" action="{% url 'registeraccount' %}" method="post">
        <h2> Register Account</h2>
        {% csrf_token %}
        {{form.non_field_errors}}
        <br>
		
        <div>
            <label for="form.username.id_for_label">Username: </label>
            {{form.username}}
        </div>
        <div>
            {{help_text|safe}}
            <label for="form.password.id_for_label">Password: </label>
            {{form.password}}
        </div>
        <div>
            <label for="form.verify_password.id_for_label">Confirm password: </label>
            {{form.password2}}
        </div>
        <div>
            <label for="form.email.id_for_label">Email: </label>
            {{form.email}}
        </div>

        <p><a href="{% url 'privacypolicy' %}">{% trans "Privacy Policy" %}</a></p>
        <p><a href="{% url 'useragreement' %}">{% trans "User Agreement" %}</a></p>
        <input class="btn btn-primary" type="submit" value="Register Account" />
			{{ form.captcha }}
			<button class='js-captcha-refresh'><i class="fa fa-refresh" aria-hidden="true"></i></button><br><br>

    </form>
	
	<div class="lower-content" style="min-height: 100%; max-width: 60%; display: inline-block;" >
		<p>In order to register, you'll need sign up with your QUT email. We require this to ensure that everyone who's using the form is either a student or staff member at QUT.
		<br><br><br>
		Having trouble? Feel free to contact us via any of our social media accounts or via telephone or email.
		<br><br><br>
		Please note that by registering you agree to our Privacy Policy and the Terms of our User Agreement.</p> 
	</div>
</div>
{% endblock %}
