{% extends 'layout/layout.html' %}
{% block title %}{{unitName}}{% endblock %}
{% block content %}
<br />


<h1>{{unitName}}</h1>

<br />

<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Assessment">Assessment</a></h4></div>
		<div style="padding: 10px; height: 300px;">
        {% for i in notes %}
            {% if i.unit == unitSLUG and i.subpage == "Assessment" %}
		        <li style="list-style-type:none;"><a href ="">{{i.type}}</a></li>
            {% endif %}
        {% endfor %}
	</div>
	
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Assessment/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Assessment"> View More</a>
	</div>
</div>


<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Lectures">Lectures</a></h4></div>
		<div style="padding: 10px; height: 300px;">
        {% for i in notes %}
            {% if i.unit == unitSLUG and i.subpage == "Lectures" %}
                <li style="list-style-type:none;"><a href="">{{i.type}}</a></li>
            {% endif %}
        {% endfor %}
	 </div>
	 <div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Lectures/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Lectures"> View More</a>
	</div>
</div>

<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Tutorials">Tutorials</a></h4></div>
		<div style="padding: 10px; height: 300px;">
        {% for i in notes %}
            {% if i.unit == unitSLUG and i.subpage == "Tutorials" %}
                <li style="list-style-type:none;"><a href="">{{i.type}}</a></li>
            {% endif %}
        {% endfor %}
	</div>
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Tutorials/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Tutorials"> View More</a>
	</div>
</div>

<div class="unit-content">
<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Quizzes">Quizzes</a></h4></div>
	<div style="padding: 10px; height: 300px;">
        {% for i in exams %}
            {% if i.unit == unitName %}
                <li style="list-style-type:none;"><a href="">{{i.name}}</a></li>
            {% endif %}
        {% endfor %}
	</div>
	
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_quiz/{{unitSLUG}}/Quizzes/">Create Quiz</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Quizzes"> View More</a>
	</div>
</div>

<div class="calendar">

	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Calendar">Calendar</a></h4></div>

    <iframe src="https://calendar.google.com/calendar/embed?title=Unit%20Calendar&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cv1ltsiv4qvqe5l6p070m2n8ks%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Australia%2FBrisbane" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>

</div>

<!--- {% for i in subpages %}
    {% if i.approval == True %}
        <table>
            <tr>
                <td> <a href="\unit_subpage/{{ unitSLUG }}/{{ i.subpage_name }}/"> {{ i.subpage_name }} </a> </td>
            </tr>
        </table>
    {% endif %}
{% endfor %} -->
{% endblock %}