{% extends 'layout/layout.html' %}
{% block title %}{{unitName}}{% endblock %}
{% block content %}
<br />


<h1>{{unitName}}</h1>

<br />

<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Assessment">Assessment</a></h4></div>
		<div style="padding: 10px; height: 300px;">
		<li style="list-style-type:none;"><a href ="">Assessment 1</a></li>
		<li style="list-style-type:none;"><a href =""> Assessment 2</a></li>
		<li style="list-style-type:none;"><a href =""> Assessment 3</a></li>
		<li style="list-style-type:none;"><a href =""> Assessment 4</a></li>
	</div>
	
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Assessment/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Assessment"> View More</a>
	</div>
</div>


<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Lectures">Lectures</a></h4></div>
		<div style="padding: 10px; height: 300px;">
		<li style="list-style-type:none;"><a href =""> Week 1</a></li>
		<li style="list-style-type:none;"><a href =""> Week 2</a></li>
		<li style="list-style-type:none;"><a href =""> Week 3</a></li>
		<li style="list-style-type:none;"><a href =""> Week 4</a></li>
	 </div>
	 <div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Lectures/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Lectures"> View More</a>
	</div>
</div>

<div class="unit-content">
	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Tutorials">Tutorials</a></h4></div>
		<div style="padding: 10px; height: 300px;">
		<li style="list-style-type:none;"><a href =""> Tute A Week 1</a></li>
		<li style="list-style-type:none;"><a href =""> Tute A Week 2</a></li>
		<li style="list-style-type:none;"><a href =""> Tute B Week 1</a></li>
		<li style="list-style-type:none;"><a href =""> Tute B Week 2</a></li>
	</div>
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_text_field/{{unitSLUG}}/Tutorials/"> Add Notes</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Tutorials"> View More</a>
	</div>
</div>

<div class="unit-content">
<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Quizzes">Quizzes</a></h4></div>
	<div style="padding: 10px; height: 300px;">
		<li style="list-style-type:none;"><a href =""> Week 1</a></li>
		<li style="list-style-type:none;"><a href =""> Week 2</a></li>
		<li style="list-style-type:none;"><a href =""> Week 3</a></li>
		<li style="list-style-type:none;"><a href =""> Mid Semester Exam Prep</a></li>
	</div>
	
	<div style="font-weight: 500; float: right; padding: 10px; font-size: 12px;">
		<a href="\create_quiz/{{unitSLUG}}/Quizzes/">Create Quiz</a>
		<br />
		<a href="\unit_subpage/{{ unitSLUG }}/Quizzes"> View More</a>
	</div>
</div>

<div class="calendar">

	<div class="unit-header"><h4> <a style="color:#FFF;"href = "\unit_subpage/{{ unitSLUG }}/Calendar">Calendar</a></h4></div>

    <iframe src="https://calendar.google.com/calendar/embed?src=cv1ltsiv4qvqe5l6p070m2n8ks%40group.calendar.google.com&ctz=Australia%2FBrisbane" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<!--- {% for i in subpages %}
    {% if i.approval == True %}
        <table>
            <tr>
                <td> <a href="\unit_subpage/{{ unitSLUG }}/{{ i.subpage_name }}/"> {{ i.subpage_name }} </a> </td>
            </tr>
        </table>
    {% endif %}
{% endfor %} -->
{% endblock %}