{% extends 'layout/layout.html' %}
{% block title %}Notespool{% endblock %}
{% block content %}
<br />


<h1>Hello, Welcome to the Notespool for {{unitName}} </h1>

<form action="\create_subpage/{{unitSLUG}}" method="get">
    <input class="btn btn-success btn-lg" type="submit" value="Create Subpage" />
</form>
<br />
{% for i in subpages %}
    {% if i.approval == True %}
        <table>
            <tr>
                <td> <a href="\unit_subpage/{{ unitSLUG }}/{{ i.subpage_name }}/"> {{ i.subpage_name }} </a> </td>
            </tr>
        </table>
    {% endif %}
{% endfor %}
{% endblock %}