{% extends 'layout/layout.html' %}
{% block title %}User Agreement{% endblock %}

{% block content %}
<div style="text-align: left;">
<h2>End-User License Agreement ("Agreement")</h2>
<br><br>
Last updated: 24/10/2017
<br><br>
Please read this End-User License Agreement ("Agreement") carefully before registering an account or using QUT Notespool.<br><br>

By registering an account or using QUT Notespool, you are agreeing to be bound by the terms and conditions of this Agreement.<br><br>

If you do not agree to the terms of this Agreement, do not register a QUT Notespool account and do not use the Application.<br><br><br>

<h3>License</h3>
QUT Notes Team grants you a revocable, non-exclusive, non-transferable, limited license to use the QUT Notespool solely for your personal, academic, non-commercial purposes strictly in accordance with the terms of this Agreement.


<h3>Restrictions</h3>
You agree not to, and you will not permit others to:
<br><br>
a) license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party.<br>
b) use the the QUT Notespool for purposes other than those which would be deemed academic by a reasonable individual<br>
c) use the QUT Notespool to cheat or plagiarise in/on any assessment or examination at QUT<br>
d) use the QUT Notespool for any activities which are illegal within Australia<br>
e) use the QUT Notespool to bully, harass, threaten, abuse, blackmail any individual, or to use the platform to plan to do so<br>
f) use the QUT Notespool to share, post, upload, exchange, distribute or intentionally view content which would be deemed inappropriate for academic studies by a reasonable person<br>
g) intentionally cause grief to other users of the the platform via maliciously modifying, removing, editing, deleting, moving a file(s)<br>
h) upload files that may damage the data held on the devices of others or physically damage these devices.<br>
i) track or gather the Personal Information of others for any purpose without their express consent, with exception to where a reasonable individual would consider it appropriate to do so for academic purposes (such as saving the email or contact details of a tutor, lecturer or team member to contact later regarding your studies)<br>
<br><br>
<h3>Modifications to Application</h3>
QUT Notes Team reserves the right to modify, suspend or discontinue, temporarily or permanently, the QUT Notespool or any service to which it connects, with or without notice and without liability to you.
<br><br>
<h3>Term and Termination</h3>
This Agreement shall remain in effect until terminated by you or QUT Notes Team<br><br>

QUT Notes Team may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.<br><br>

This Agreement will terminate immediately, without prior notice from QUT Notes Team, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting your account.<br><br>

Upon termination of this Agreement, you shall cease all use of the QUT Notespool.<br><br>

<h3>Management of Files</h3>
All files uploaded by you to the QUT Notespool are your sole responsibility. It is your responsibility to:<br><br>

a) ensure that these files are backed up if you wish to ensure they are not lost, and;<br>
b) ensure that these files comply with all terms outlined in this Agreement<br><br>

QUT Notes Team is not liable for any financial, academic, mental, physical or emotional harm caused in the event that your files (or the files of others) become lost or corrupted.<br><br>


<h3>Severability</h3>
If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.<br><br>

<h3>Amendments to this Agreement</h3>
QUT Notes Team reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material we will provide at least 30 (changes this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br><br>

<h3>Contact Information</h3>
If you have any questions about this Agreement, please contact us at:<br><br>
<a href="mailto:socialnotespool@gmail.com">socialnotespool@gmail.com</a><br>
<a href="tel:0468968205">0468 968 205</a>

</div>
{% endblock %}